body{
    background-color: bisque;
}
footer{
    background-color: black;
color: white;
position: fixed;
bottom: 0;
width: 100%;
height: 0.2rem;
}
footer{
    text-align: center;
    font-size: 0.6rem;
}