body{
    background-color: bisque;
    font-family: Bai Jamjuree;
}
footer{
    background-color: black;
color: white;
position: fixed;
bottom: 0;
width: 100%;
height: 0.2rem;
}
footer{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
#container{
    display: flex;
}
.cartao{
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% -6rem);
}
.cartao__conteudo{
    text-align: center;
    background-color: aquamarine;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
.cartao__conteudo h3 {
    background-color: tomato;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}
.cartao :hover .cartao__conteudo{
transform: rotateY(180deg);
}
.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
 position: absolute;
 height: 100%;
 width: 100%;
}